.Detail_Nav_Amount{
    display: flex;
    width: 100%;
    margin: 24px 0;
}

.Detail_Nav_Amount_Div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Detail_Nav_Amount_TitleStyle{
    font-size: 14px;
    font-weight: 600;
    color: #999;
    margin-bottom: 8px;
    line-height: 1.2;
}
.Detail_Nav_Amount_AmountStyle{
    font-size: 15px;
    color: #333;
    font-weight: 600;
}