.Hearder_Search_Div{
    width: 100%;
    background-color: #fff;
}


.Hearder_Search_Div_Div{
    width: 1060px;
    height: 100%;
    padding-top: 30px;
    position: relative;
}
.Header_Search_Input_Icon{
    position: absolute;
    z-index: 10;
    top: 48px;
    left: 20px;
    color: #545454;
    margin: 0 16px 0 6px;
}
.Hearder_Search_Input{
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin: 0;
    padding: 0 36px 0 60px;
    border: 1px solid #f2f4f7;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    background-color: #f2f4f7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Hearder_Search_Input:focus{
    background-color: #fff;
    border-color: #36f;
}


.Hearder_Search_Text_Div{
    margin-top: 50px;
}
.Hearder_Search_Text_Title_Div{
    display: flex;
    justify-content: space-between;
}
.Hearder_Search_Text_Title_Text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #333;
}
.Hearder_Search_Text_Title_Btn{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #767676;
}
.Hearder_Search_Text_Title_Btn > * {
    font-size: 12px;
    margin-left: 3px;
}


.Hearder_Search_Text_Tag_Div{
    padding: 20px 0 50px;
}
.Hearder_Search_Text_Tag_Div>button{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    padding: 0 26px;
    border-radius: 25px;
    margin-right: 10px;
}

.Hearder_Search_Text_Tag_greenblue{
    background: #f0f8f8;
}
.Hearder_Search_Text_Tag_purple{
    background: #eeedf4;
}
.Hearder_Search_Text_Tag_gray{
    background: #e8edf3;
}
.Hearder_Search_Text_Tag_blue{
    background: #e9f4fb;
}
.Hearder_Search_Text_Tag_green{
    background: #effbf3;
}