.Header_div{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
header{
    display: flex;
    justify-content: center;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 20;
}
.Header_Menu{
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 50px;
}


.Header_Menu_Icon_button{
    height: 100%;
    margin-right: 15px;
    opacity: 0.7;
}
.Header_Menu_Icon{
    font-size: 19px;
}
.Header_Menu_LogoImg{
    width: 74px;
    height: 17px;
    opacity: 0.8;
}

.Header_Category_ul{
    display: flex;
    justify-content: center;
}


.Header_Buttons_Div{
    padding: 8px 0;
}
.Header_Search_Icon *{
    font-size: 18px;
    opacity: 0.6;
    padding: 0 10px;
    margin-top: 7px;
}
.Header_Singin_Button{
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
    padding: 0 10px;
    margin-right: 6px;
}
.Header_Button_pipe{
    color: #666;
    font-size: 14px;
    font-weight: 100;
    display: inline-block;
    opacity: 0.4;

}
.Header_EnterpriseService_Button{
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
}