.Login_Div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.Signin_Div{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: calc(100vh - 100px);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid hsl(180, 2%, 88%);
    overflow-x: auto;
    box-sizing: border-box;
}
.Signin_Div::-webkit-scrollbar, .Signin_Body_Div::-webkit-scrollbar {
	display: none;
}

.Signin_Div_Div{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    position: absolute;
}

.Signin_Header{
    padding: 0 20px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}
.Signin_Header_Title{
    color: #000;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Signin_Header_divStyle{
    color: #000;
    width: 64px;
    font-size: 17px;
    font-weight: 400;
}

.Signin_Footer{
    padding: 0 20px 20px 20px;
    height: 64px;
    background-color: #fff;
    bottom: 50px;
    width: 100%;
}
.Signin_Footer_Btn{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    background-color: #36f;
    color: #fff;
}
.Signin_Footer_Btn:disabled{
    background-color: #f2f4f6;
    color: #ccc;
}


.Signin_Body_Div{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 228px);
}

.Signin_Body, .Signin_Inputs{
    display: flex;
    flex-direction: column;
}
.Signin_Body{
    padding: 20px;
}


.Signin_Input_divStyle{
    padding: 17px 0 7px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Signin_Input_labelStyle{
    margin-bottom: 7px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.Signin_Input_inputStyle{
    height: 50px;
    padding: 0 12px;
    margin-bottom: 8px;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    font-size: 16px;
}
.Signin_Input_inputStyle_readOnly{
    background-color: #f2f4f7;
    cursor: default;
}
.Signin_Input_inputStyle_readOnly:focus{
    outline: none;
}
.Signin_Input_inputStyle_input{
    background-color: #fff;
}
.Signin_Input_inputStyle::placeholder{
    color: #ccc;
    font-size: 16px;
    font-weight: 400;
}
.Login_Email_input_grayBorder{
    border: 1px solid #e1e2e3;
}
.Signin_Input_blueBorder{
    border: 1px solid #36f;
}
.Signin_Input_redBorder{
    border: 1px solid #fe415c;
}

.Signin_Input_selectStyle{
    padding-left: 12px;
    margin-bottom: 7px;
    width: 100%;
    height: 50px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
}
.Signin_Input_Phone_Div{
    display: flex;
    justify-content: space-between;
}
.Signin_Input_Phone_Div_Div{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.Signin_Input_buttonStyle{
    height: 50px;
    width: auto;
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    color: #36f;
    background-color: #fff;
    border: 1px solid #ccc;
}
.Signin_Input_buttonStyle:disabled {
    color: #ccc;
    background-color: #f2f4f7;
}

.Signin_Input_Password_Text{
    color: #888;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.Signin_Input_WrongText{
    color: #fe415c;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
}
.Signin_Input_RightText{
    color: #08ba9c;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
}


.Signin_Agree{
    margin: 18px 0;
    display: flex;
    flex-direction: column;
}
.Signin_Agree_TextStyle{
    color: #888;
    font-weight: 500;
    font-size: 15px;
}
.Signin_Agree_TextStyle, .Signin_Agree_checkbox_custom{
    cursor: pointer;
}
.Signin_Agree_checkbox_custom{
width: 18px;
height: 18px;
font-size: 11px;
border-radius: 3px;
border: 1px solid #ececec;
margin-right: 7px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: white;
}

.Signin_Agree_Agree_Div{
    padding-top: 7px;
}
.Signin_Agree_Agree_Div_Div{
    display: flex;
    padding: 7px 0;
}
.Signin_Agree_All{
    border-bottom: 1px solid #e1e2e3;
    padding-bottom: 14px;
}
.Signin_Agree_Agree_Div_Div_FlexStyle{
    display: flex;
    justify-content: space-between;
}
.Signin_Agree_Agree_Div_Div_FlexStyle_Div{
    display: flex;
}
.Signin_Agree_Checkbox{
    display: none;
}


.Signin_Agree_checkbox_white{
    background-color: #fff;
}
.Signin_Agree_checkbox_blue{
    background-color: #36f;
}